.index {
  padding-top: 100px;
}

.smart-pot {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}

.sort-tab {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: white;
  z-index: 5;
}

.sort-item-wrap {
  width: calc(100% - 230px);
  margin-left: 80px;
}

.sort-item {
  width: 25%;
}

.info-wrap {
  padding: 0 20px 0 30px;
  width: calc(100% - 150px - 30px - 20px);
}

.property-wrap {
  Text {
    width: 25%;
    text-align: center;
  }
}

.property-img {
  width: 70px;
  height: 70px;
}

.icon-TopArrow , .icon-arrow-down {
  font-size: 25px;
}
