/* flex 公共样式 start */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline-flex {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.flex-flow-column {
  flex-flow: column;
}

.flex-flow-wrap {
  flex-flow: wrap;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-baseline {
  align-items: baseline
}

.align-items-stretch {
  align-items: stretch;
}

.items-flex-none {
  flex: none;
}

.align-self-center {
  align-self: center;
}
/* flex 公共样式 end */

.health-text {
  color: #9c2c29;
}
.hunger-text {
  color: #DAA520;
}
.sanity-text {
  color: #ce7921;
}
.perish-text {
  color: #008B8B;
}
